<md-card class="top10" [@fadeInOut]>
  <md-card-title>Top {{ genreName }} Movies</md-card-title>
  <hr>
  <div 
      *ngIf="movieList.length==0"
      fxLayout fxLayoutAlign="center center">
    <md-spinner></md-spinner>
  </div>

  <div fxLayout fxLayoutAlign="space-between stretch" fxLayoutWrap>
    <wm-movie-item 
        fxFlex="48%" fxFlex.sm="98%" fxFlex.xs="98%"
        *ngFor="let movie of movieList" [movie]="movie"></wm-movie-item>

  </div>
  <ngb-pagination [collectionSize]="collectionSize" [maxSize]="maxSize" [rotate]="true" [boundaryLinks]="true" [(page)]="page" (pageChange)="pageChange($event)"></ngb-pagination>

</md-card>
