<md-card [@flyInOut]>
  <md-card-title class="center-text title">About This Website</md-card-title>
  <hr>
  <md-card-content class="center-text content">
    <p>The purpose of this website is to provide a free and enjoyable site for any movie-lover. Here you can search for your favourite movies, 
      check out the latest movies information including release date, budget, production companies, casts and much more!</p>
    <br>
    <p>The website is fully responsive and it can be accessed from any devices. However, to enjoy the fullest, there is a mobile app version of this website and it is currently available on Google Play. Yes, you have guessed it right, 
      it is a free app and you can enjoy it without any annoying ads.</p>
      <a href="https://play.google.com/store/apps/details?id=com.nguyen.paul.thanh.walletmovie&hl=en">
        <img src="/assets/google_play_badge.png" alt="GOOGLE PLAY" style="width: 250px; height: 100px;">
      </a>
  </md-card-content>
</md-card>
