.fixed-navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.brand {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.nav-link {
    font-size: .9em;
    height: 100%;
}

.overlay-menu {
    position: fixed;
    z-index: 1000;
}

.search-bar {
    width: 100%;
    color: #757575;
    background-color: #FFFFFF;
    border: none;
    height: 60px;
    font-size: 1.1em;
    font-style: italic;
    /*transition: box-shadow 300ms ease-in-out;
    -webkit-transition: box-shadow 300ms ease-in-out;
    -moz-transition: box-shadow 300ms ease-in-out;
    -ms-transition: box-shadow 300s ease-in-out;
    -o-transition: box-shadow 300s ease-in-out;*/
    outline: none;
    padding: 3px 0px 3px 3px;
}

.search-bar:focus {
    /*box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;*/
}

.search-hint-container {
    background-color: #FFFFFF;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    /*box-shadow: 0 1px 10px #757575;
    -moz-box-shadow: 0 1px 10px #757575;
    -webkit-box-shadow: 0 1px 10px #757575;
    -o-box-shadow: 0 1px 10px #757575;*/
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.search-input-container {
    width: 100%; 
    padding-left: 10%; 
    padding-right: 10%; 
    background-color: #FFFFFF; 
    border-bottom: 1px solid #E0E0E0;
    /*box-shadow: 0px 1px 10px #757575;
    -moz-box-shadow: 0 1px 10px #757575;
    -webkit-box-shadow: 0 1px 10px #757575;
    -o-box-shadow: 0 1px 10px #757575;*/
}

.search-hint-row {
    width: 80%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: roboto, "Helvetica Neue", sans-serif;
}

.search-hint-row:hover {
    background-color: rgba(244, 244, 244, 1);
}

@media screen and (max-width: 599px) {
    .search-hint-row {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .search-input-container {
        padding-left: 5px;
        padding-right: 5px;
    }
}


