.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
}

.cast-name {
    font-weight: bold;
}

.cast-character {
    font-style: italic;
    font-size: .7em;
}