.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
     box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    transition: box-shadow 300ms ease-in-out;
    -webkit-transition: box-shadow 300ms ease-in-out;
    -moz-transition: box-shadow 300ms ease-in-out;
    -ms-transition: box-shadow 300s ease-in-out;
    -o-transition: box-shadow 300s ease-in-out;
}

.circle-image:hover {
    box-shadow: 0px 0px 10px #757575;
    -moz-box-shadow: 0 0px 10px #757575;
    -webkit-box-shadow: 0 0px 10px #757575;
    -o-box-shadow: 0 0px 10px #757575;
}

.cast-name {
    font-weight: bold;
}

.cast-character {
    font-style: italic;
    font-size: .7em;
}