.card-image {
    height: 450px;
    width: 100%;
}

.movie-title {
    min-height: 2em;
}

.movie-description {
    font-size: 1.5em;
    line-height: 1.5;
}

.recommended-movie-list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.recommended-movie-list .list-item {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.recommended-movie-list .list-item img {
    width: 200px;
    height: 250px;
}
