  <md-card class="feature-row">
    <md-card-header>
      <md-card-title>{{rowTitle}}</md-card-title>
    </md-card-header>

    <div class="movies-row-container">
      <wm-movie-item class="row-item"></wm-movie-item>
      <wm-movie-item class="row-item"></wm-movie-item>
      <wm-movie-item class="row-item"></wm-movie-item>
      <wm-movie-item class="row-item"></wm-movie-item>
      <wm-movie-item class="row-item"></wm-movie-item>
      <wm-movie-item class="row-item"></wm-movie-item>
      <wm-movie-item class="row-item"></wm-movie-item>
      <wm-movie-item class="row-item"></wm-movie-item>
    </div>

    <md-card-actions>
      <button md-button>VIEW ALL</button>
    </md-card-actions>
    
  </md-card>