<md-card
    class="movie-item-container top10 bottom10 left2 right2">

  <section>
    <div 
        fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
      <div fxFlex="48%" fxFlex.xs="100%">
        <img 
            (click)="showMovieDetails(movie)" 
            class="movie-image img-responsive clickable-chip" 
            src="//image.tmdb.org/t/p/w342/{{movie.posterPath}}" alt="POSTER IMAGE"
            onerror="this.src='/assets/no_poster_placeholder.png';">
      </div>
      <div fxFlex="48%" fxFlex.xs="100%">
        <div fxLayout="column" fxLayoutAlign="center">
          <md-card-title class="movie-title">{{ movie.title }}</md-card-title>
          <md-card-subtitle>
            <md-chip-list>
              <md-chip class="clickable-chip" *ngFor="let genre of movie.genres" (click)="onGenreClick(genre)">{{ genre.name }}</md-chip>
            </md-chip-list>
          </md-card-subtitle>
          <md-card-subtitle>
            Release Date:&nbsp;{{ movie.releaseDate }}
          </md-card-subtitle>
          <md-card-subtitle>
            Vote Average:&nbsp;{{ movie.voteAverage }}
          </md-card-subtitle>
          <hr>
          <button md-raised-button color="accent" (click)="showMovieDetails(movie)">More Info</button>
        </div>
      </div>
    </div>
  </section>
  <hr>
    <md-card-content class="movie-description">
      <p>
        {{ (movie.overview.length > descriptionLimit) ? movie.overview.substr( 0, (descriptionLimit + 1) ) + "..." : movie.overview }}
      </p>
    </md-card-content>

</md-card>