<div [@fadeInOut]>

    <!--four blocks display top 20 movies in random genres-->
    <div
        fxLayout fxLayoutAlign="space-between stretch" fxLayoutWrap
        fxLayoutAlign.md="space-around stretch"
        fxLayoutAlign.sm="space-around stretch"
        fxLayoutAlign.xs="center center">
        <md-card style="background-color: #03A9F4"
            fxFlex="24%" fxFlex.md="49%" fxFlex.sm="49%" fxHide.xs
            class="top10 bottom10"
            *ngFor="let item of recommendations">
            <button class="recommendation-link" md-button (click)="onRecommendationClick(item)">Top {{ item.name }}</button>
        </md-card>

        <!--show only when on mobile screen size-->
         <md-card 
            style="background-color: #03A9F4"
            class="bottom10"
            fxFlex="98%"
            fxHide fxShow.xs>
             <button md-button class="recommendation-link"
                (click)="toggleRecommendation = !toggleRecommendation">
                 <md-icon *ngIf="!toggleRecommendation">keyboard_arrow_down</md-icon>
                 <md-icon *ngIf="toggleRecommendation">keyboard_arrow_up</md-icon>
                 <span>Recommendations</span>
            </button>
            <div 
                [@shrinkInOut]="in"
                *ngIf="toggleRecommendation">
                <div *ngFor="let item of recommendations">
                    <hr>
                    <button 
                        class="recommendation-link dropdown-link"
                        md-button
                        (click)="onRecommendationClick(item)">Top {{ item.name }} Movies</button>
                </div>
            </div>
         </md-card>

    </div>

    <!--slide-->
    <div class="slide-container">
        <ngb-carousel interval="3000" wrap="true">
            <template ngbSlide *ngFor="let movie of newReleaseMovies">
                <img 
                    (click)="showMovieDetails(movie)"
                    src="//image.tmdb.org/t/p/original/{{movie.posterPath}}" alt="POSTER IMAGE" 
                    onerror="this.src='/assets/no_poster_placeholder.png';"
                    class="img-responsive clickable-chip slide-image">
            </template>
        </ngb-carousel>
    </div>


    <!--home page main content-->
    <md-tab-group 
        class="content"
        *ngIf="homeTabs.length>0" [@fadeInOut]>

        <md-tab *ngFor="let tab of homeTabs">
            <template md-tab-label>
                <h1>{{ tab.type }}</h1>
            </template>
            <wm-movie-list [movieUrl]="tab.url"></wm-movie-list>
        </md-tab>

    </md-tab-group>
</div>
