<div [@fadeInOut]>

    <!--four blocks display top 20 movies in random genres-->
    <div
        fxLayout fxLayoutAlign="space-between stretch" fxLayoutWrap
        fxLayoutAlign.md="space-around stretch"
        fxLayout.xs="column" fxAlayoutAlign.xs="space-between center">
        <md-card style="background-color: #03A9F4"
            fxFlex="24%" fxFlex.md="49%" fxFlex.sm="49%" fxFlex.xs="98%"
            class="top10 bottom10"
            *ngFor="let item of recommendations">
            <button class="recommendation-link" md-button (click)="onRecommendationClick(item)">Top {{ item.name }}</button>
        </md-card>
    </div>

    <!--slide-->
    <div class="slide-container">
        <ngb-carousel interval="3000" wrap="true">
            <template ngbSlide *ngFor="let movie of newReleaseMovies">
                <img 
                    (click)="showMovieDetails(movie)"
                    src="//image.tmdb.org/t/p/original/{{movie.posterPath}}" alt="Random first slide" 
                    class="img-responsive clickable-chip slide-image">
            </template>
        </ngb-carousel>
    </div>


    <!--home page main content-->
    <md-card 
        *ngIf="tabs.length>0" [@fadeInOut]
        class="content">
    <md-tab-group (selectChange)="selectChange($event)">

        <md-tab *ngFor="let tab of tabs">

            <div 
                *ngIf="tab.data.length==0"
                fxLayout fxLayoutAlign="center center">
                <md-spinner></md-spinner>
            </div>

            <template md-tab-label>
                <h1>{{ tab.label }}</h1>
            </template>
            <div fxLayout fxLayoutAlign="space-between stretch" fxLayoutWrap>
                <wm-movie-item 
                    fxFlex="48%" fxFlex.sm="98%" fxFlex.xs="98%"
                    *ngFor="let movie of tab.data" [movie]="movie"></wm-movie-item>
                    
                    <!--pagination-->
            </div>
            <ngb-pagination [collectionSize]="tab.totalResults" [pageSize]="pageSize" [maxSize]="maxSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
        </md-tab>

    </md-tab-group>
    </md-card>
</div>
