.content {
    margin-top: 10px;
    margin-bottom: 50px;
}

.recommendation-link {
    width: 100%;
    color: #E6E8F5;
    font-size: 1em;
    margin: 0;
    /*font-weight: bold;*/
}

.dropdown-link {
    font-size: .8em;
}

.slide-container {
    width: 100%;
}

.slide-caption {
    font-family: roboto, "Helvetica Neue", sans-serif;
}

.slide-caption .slide-caption-heading {
    font-size: 1.5em;
}

.slide-container .slide-image {
    width: 100%; 
    height: 500px;
}

/*mobile screen size*/
@media screen and (max-width: 599px) {
    .slide-container .slide-image {
        height: 500px;
    }   
}